.login-card {
	display: block;
	width: 20vw;
	height: 20vw;
	color: #333333;

	&__logo {
		display: block;
		width: 50%;
		margin: 8px 0 8px -16px;
	}

	&__form {
		display: block;
		margin: 24px auto auto;
	}
}

.card-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
